@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanken+Grotesk:wght@200;400&family=Outfit:wght@300&family=Righteous&family=Roboto:wght@300&family=Sarala&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(24, 31, 46);
    margin-top: 50px;
}

.fora{
    width: 300px;
    height: 500px;
    background-color: rgb(19, 52, 83);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 10px 12px 5em rgba(4,4,4, 300);
    
}

.logoprincipal{
    width: 260px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center ;
    margin-left: 20px;
    margin-top: 70px;

}

.titulo{
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    margin-left: 25px;
    color: white;
    font-family: 'Outfit', sans-serif;
    margin-top: 15px;

}

.paragrafo{
    display: flex;
    color: rgba(120, 136, 136, 0.979);
    margin-left: 17px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    padding: 10px;
}

.eterio{
    display: flex;
    align-items: center;
    color: rgba(120, 136, 136, 0.979);
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    gap: 70px;
    margin-left: 17px;
    
}
.time{
    display: flex;
    color:rgb(163, 163, 163);
    padding: 10px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-family: 'Outfit', sans-serif;
}

.eterioimg{
    display: flex;
    color:aqua;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-family: 'Outfit', sans-serif;

}



.bottom{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 0,4 solid;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.548);
    margin-bottom: 60px;
    
}

.img-bot{
    width: 30px ;
    border: 1px solid;
    border-radius: 50%;
    justify-content: center;
    margin-left: 20px;
}

.traco{
    color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
  
}